.main_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: #f8f8f8;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.title_main {
  font-family: "Philosopher", sans-serif;
  color: black;
  font-weight: 100;
  font-size: clamp(30px, 6vw, 46px);
  margin: 0;
}

.title_text {
  font-family: "Bitter", serif;
  font-size: clamp(15px, 2.5vw, 25px);
  color: black;
  margin: 0;
  margin-top: 5px;
  padding: 20px 30px;
}
