.hero_container {
  position: relative;
  max-width: 600px;
  width: 100%;
  background-image: url("/hero_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero_text {
  text-align: center;
  color: white;
  padding-bottom: 350px;
}

h1 {
  font-family: "Marck Script", cursive;
  color: white;
  font-weight: 100;
  font-size: clamp(32px, 6vw, 72px);
  margin: 0;
}
.date_p {
  font-family: "Bitter", serif;
  font-size: clamp(10px, 2.5vw, 20px);
  color: whitesmoke;
  margin: 0;
  font-weight: bold;
}

.heart {
  margin-top: 5px;
  width: 30px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .hero_container {
    max-width: 100%;
  }
  h1 {
    font-size: clamp(36px, 5vw, 64px);
  }
  .date_p {
    font-size: clamp(12px, 2vw, 18px);
  }
}

@media (min-width: 901px) {
  .hero_container {
    max-width: 100%;
  }
  h1 {
    font-size: clamp(48px, 6vw, 72px);
  }
  .date_p {
    font-size: clamp(14px, 1.5vw, 20px);
  }
}
