.hero_container {
  max-width: 320px;
  width: 100%;
  background-image: url("/hero_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Great Vibes", cursive;
  color: white;
  font-weight: 100;
  font-size: clamp(32px, 6vw, 72px);
  margin: 0;
}
.date_p {
  font-family: "Bitter", serif;
  font-size: clamp(10px, 2.5vw, 20px);
  color: whitesmoke;
  margin: 0;
}

.heart {
  margin-top: 5px;
  width: 30px;
}
