ul {
  list-style: none;
}
.images_div {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.ul_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul_img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
.ul_img li:last-child:nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
}

.ul_img li {
  border-radius: 20px;
  overflow: hidden;
  justify-self: center;
  padding: 6px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #e5ccab;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  transition: transform 0.7s ease;
  border-radius: 15px;
}
.ul_img li:hover .image {
  transform: scale(1.07);
}
