.dress_first_div {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 30px;
  background: #f8f8f8;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: "Georgia", serif;
  color: #4b3c59;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dress_second_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dress_first_div img {
  width: 100px;
}
.dress_second_div h2 {
  font-family: "Philosopher", sans-serif;
  color: black;
  font-weight: 100;
  font-size: clamp(30px, 6vw, 46px);
  margin: 0;
  text-align: center;
}

.dress_first_div p {
  margin: 12px 0;
  font-size: 18px;
  line-height: 1.6;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

/* .dress_first_div p::before {
  content: "●";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #888888;
  font-size: 14px;
} */

.div_color {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}
